/* #past-analysis { */
/*   margin: 30px 30px 0px 0; */
/* } */
button{
  margin-bottom: 30px;
}
.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; }

.no-body {
  max-height: 48px;
}
.no-body.mat-expansion-panel-header >>> .mat-expansion-indicator {
  display: none;
}

